<<<<<<< HEAD
  <p class="control">
    <textarea class="textarea"></textarea>
  </p>
=======
<p class="control">
  <textarea placeholder={{codePlaceholder}} value=""></textarea>
</p>
>>>>>>> ae69555b658c6254a2c1df407f7f7a12816805ab
