<section class="hero is-fullheight">
  <div class="hero-body">
    <div class="container is-fluid code-box">
  {{ivy-codemirror value=myCode valueUpdated=(action "valueUpdated")
                   options=(hash theme="monokai"
                                 mode="clike"
                                 lineNumbers=true
                                 tabSize=2
                                 autofocus=true)}}
    </div>
  </div>
</section>
