<section class="hero is-fullheight noScroll">
  <div class="hero-head">
    <div class="container is-fluid code-box">
  {{ivy-codemirror value=myCode valueUpdated=(action "valueUpdated")
                   options=(hash theme="paraiso-dark"
                                 mode="clike"
                                 tabSize=2
                                 lineNumbers=true
                                 autofocus=true
                                 scrollbarStyle=null)}}
    </div>
  </div>
</section>
