<div class="columns is-gapless">
  <div class="column is-one-third">
    {{nav-bar action="sumbitCode"}}
  </div>
  <div class="column">
    {{code-box action="updateCode" text=code}}
  </div>
</div>
