<div class="columns is-gapless">
  <div class="column is-one-third side-bar">
    {{side-bar}}
  </div>
  <div class="column code-box">
    {{submit-button action="sumbitCode"}}
    {{code-box action="updateCode" text=code}}
  </div>
</div>
