<nav class="nav has-shadow">
  <div class="nav-left">
    <h1 class="title"> C++ Class Definition</h1>
  </div>
    <div class="nav-right nav-menu">
      <a class ="nav-item" id="submitAnchor">
      Submit
    </a>
    </div>
</nav>
