<nav class="nav has-shadow">
  <div class="nav-left">
    <h1 class="title"> C++ Class Definition</h1>
  </div>
    <div class="nav-right nav-menu">
<<<<<<< HEAD
      <a class ="nav-item" id="submitAnchor">
=======
      <a class ="nav-item" {{action "sumbitPressed"}}>
>>>>>>> ae69555b658c6254a2c1df407f7f7a12816805ab
      Submit
    </a>
    </div>
</nav>
