<section class="hero is-primary is">
  <div class="hero-head">
    <div class="container is-fluid">
      <h1 class="title">
        C++ Class Define
      </h1>
      <h2 class="subtitle">
        Enter your header file here:
      </h2>
    </div>
  </div>
</section>
