<nav class="nav has-shadow"></nav>
<div class="tile is-parent">
  <div class="tile is-child box">
    <p class="title">C++ Class Generator</p>
    <p>
      Paste in your header file code to generate functions for all your classes.
      This web app maintains ordering for public/private and works for almost all
      cases that you might type in.
    </p>
  </div>
</div>
