& {
    .CodeMirror {
      max-height: none;
      height: 93vh;
    }

    .hero-body {
      padding-top: 0px;
      margin-top: 0px;
    }

    .hero
    {
      background-color: #272822;
    }
}
